<!--Header Bar-->
<div class="main_header_bar">
	<!--pidgin logo-->
	<a id="a_home" href="#">pidgin</a>	
	<!--signup-->
	<%= link_to 'Login', '#', class: 'btn_login' %>
	<%= link_to 'Signup', 'signup', class: 'btn_signup' %>

</div>

<!--Customer Order/Client Signup Option-->
	<%= form_tag(restaurants_path, method: :get, class: 'form_search_restaurant') do %>
		<div class="div search_restaurant_fields">
  			<%= text_field_tag :restaurant_name, params[:restaurant_name], :placeholder => 'Search food...now:', class: "txt_search_restaurants"%>
  			<%=submit_tag 'Find Food!', class: "btn_search_restaurants" %>
  		</div>
	<% end %>		

	
<div class="main_footer_bar">
	<p>&copy; 2018 pidgin.com<p>
</div>