<!--Header Bar-->
<div class="main_header_bar">
	<div class="top_header_bar">
		<!--pidgin logo-->
		<a href="#" id="link_home">
			<div class="div logo_pidgin">

			</div>
		</a>
		<!--Loader, Login, Signup Buttons-->
		<div class="div header_section_btn">
			<%= link_to 'Loader', '#', class: 'btn_header' , id: "btn_header" %>
			<%= link_to 'Login', '#', class: 'btn_header', id: "btn_login" %>
			<%= link_to 'Signup', '#', class: 'btn_header', id: "btn_signup" %>
		</div>
	</div>
	
	<!-- White header bar for the divider -->
	<hr class="hr header_divide">

	<!-- This section is responsive layount for the image and register section-->
	<div class="row" id="header_subsection">
		<!-- Section A: Pizza Box Image -->
		<div class="col-sm-6"" id="img">
			<%= image_tag("img_pizza_box.png", class: "img img_pizza_box") %>
		</div>

		<!--Section B: Form registering region -->
		<div class="col-sm-6" >
			<form id="form_pidgin_register">
				<div class="form-group">
					<div class="pidgin_register_header">Why Drive When You Can Fly?	</div>
					<div class="pidgin_register_subheader">Drone delivery ensures the fastest delivery, every time.</div>
					<%= text_field_tag :email, params[:email], placeholder: "Enter your email to join our waiting list", class: "pidgin_register_email" %>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Why Pidgin-->
<div class="div why_pidgin">
	<h1 class="h1 header">Why Pidgin?</h1><br>
	<h4 class="h4 exp_why_pidgin">Pidgin offers a never-seen before way of food delivery up to 5X faster than other delivery 
								  companies. Your delivery time is not decided upon traffic congestion or routes, but rather
								  a straight path from your favorite restaurant to you, ensuring the fastest delivery - every time. 
	</h4>
</div>

<!--This details the pidgin outline section"-->
<div class="div order_process">
	<!--Header for section-->
	<h2 class="header">
		How it Works
	</h2>
	<!--Subheader explanation-->
	<h4 class="subheader">
		<i>Ordering from pidgin is easy - it works in three simple steps..</i>
	</h4>
	<!--This div section is for the three main butons-->
	<div class="row" id="process_section">
		<div class="col-sm-4">
			<div class="process_step">
				Order
			</div>
		</div>
		<div class="col-sm-4">
			<div class="process_step">
				Receive
			</div>
		</div>
		<div class="col-sm-4">
			<div class="process_step">
				Enjoy
			</div>
		</div>
	</div>
</div>
	
</div>

<!--Footer bar -->
<div class="main_footer_bar">
	<p>&copy; 2018 pidgin.com<p>
</div>

