<!--Header Bar-->
<div class="main_header_bar">
	<div class="top_header_bar">
		<!--pidgin logo-->
		<a href="/" id="link_home">
			<%= image_tag("pidginLogo.png", class: "img logo_pidgin") %>
		</a>
		<!--Loader, Login, Signup Buttons-->
		<div class="div header_section_btn">
			<%= link_to 'About', '/about', class: 'btn_header' , id: "link_about" %>
			<%= link_to 'Contact', '/contact_us', class: 'btn_header', id: "link_contact" %>
			<%= link_to 'FAQ', '/faq', class: 'btn_header', id: "link_faq" %>
		</div>
	</div>
	
	<!-- White header bar for the divider -->
	<hr class="hr header_divide">

	<!-- This section is responsive layount for the image and register section-->
	<div class="row" id="header_subsection">
		<!-- Section A: Pizza Box Image -->
		<div class="col-sm-6" id="img">
			<%= image_tag("img_pizza_box.png", class: "img img_pizza_box") %>
		</div>

		<!--Section B: Form registering region -->
		<div class="col-sm-6">
			<form action="/contact" id="form_pidgin_register">
				<div class="form-group">
					<div class="pidgin_register_header">Why Drive When You Can Fly?	</div>
					<div class="pidgin_register_subheader">Drone delivery ensures the fastest delivery, every time.</div>
					<%= text_field_tag :email, params[:email], placeholder: "Enter your email to join our waiting list", class: "pidgin_register_email" %>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Why Pidgin-->
<div class="div why_pidgin">
	<h1 class="h1 header">Why Pidgin?</h1><br>
	<p class="p exp_why_pidgin">Pidgin offers a <strong>never-seen before</strong> way of food delivery up to 5X faster than other delivery companies. Your delivery time is not decided upon traffic congestion or routes, but rather
	a straight path from your favorite restaurant to you, ensuring the fastest delivery - every time. 
	</p>
	<%= image_tag("Drone.png", class: "img img_drone") %>
</div>

<!--This details the pidgin outline section"-->
<div class="div order_process">
	<!--Header for section-->
	<br>
	<h2 class="header">
		How it Works
	</h2>

	<!--Subheader explanation-->
	<br>
	<h4 class="subheader">
		Ordering from pidgin is easy - it works in three simple steps..
	</h4>
	<!--This div section is for the three main butons-->
	<br>
	<div class="row" id="process_section">
		<div class="col-sm-4">
			<button class="btn btn-default" id="section_step_order" >
     			<h2 class="step_name">Order</h2>
			</button>
		</div>
		<div class="col-sm-4">
			<button class="btn btn-default" id="section_step_receive" >
     			<h2 class="step_name">Receive</h2>
			</button>
		</div>
		<div class="col-sm-4">
			<button class="btn btn-default" id="section_step_enjoy">
     			<h2 class="step_name">Enjoy</h2>
			</button>
		</div>


	</div>
</div>
	
</div>

<!--Footer bar -->
<div class="main_footer_bar">
	<!--Initial text in the footer bar above the white hr line-->
	<h4 class="txt_join_pidgin">Pidgin is the <strong>first</strong> drone-food delivery service operating out of the United States. <br><em>Join the revolution.</em></h4>
	<!--White divider line above main footer content-->
	<hr class="hr footer_divide">
	<div class="row" id="footer_row">
		<div class="col-sm-3" id="link_footer_pidgin">
			<a href="/">
				<%= image_tag("pidginLogo.png", class: "img_footer_logo") %>
			</a>
		</div>
		<div class="col-sm-3" id="footer_section">
			<h3 class="ttl_section">Ask Us</h3>
			<br><br>
			<p class="txt_info">
				<%=link_to "FAQ", "/faq", class: "footer_link"%>
			</p><br>
			<p class="txt_info">
				<%=link_to "Contact Us", "/contact_us", class: "footer_link"%>
			</p>
		</div>
		<div class="col-sm-3" id="footer_section">
			<h3 class="ttl_section">Follow Us</h3>
			<br><br>
			<p class="txt_info">
				<%=link_to "Instagram", "https://www.instagram.com/pidgin.inc/", class: "footer_link"%>
			</p><br>
			<p class="txt_info">
				<%=link_to "Facebook", "https://www.facebook.com/PidginDelivery/", class: "footer_link"%>
			</p><br>
			<p class="txt_info">
				<%=link_to "Twitter", "https://twitter.com/PidginDelivery", class: "footer_link"%>
			</p><br>
			<p class="txt_info">
				<%=link_to "Youtube", "https://m.youtube.com/channel/UCV_YdQIboHeZ0zi_q6XJdnA", class: "footer_link"%>
			</p><br>
		</div>
		<div class="col-sm-3" id="footer_section">
			<h3 class="ttl_section">Cities</h3>
			<br><br>
			<p class="txt_info">Raleigh</p><br>
		</div>
	</div>
</div>

