<div class="div div_search_results_header">
	<%= form_tag(restaurants_path, method: :get, class: 'form_re_search_restaurant') do %>
		<div class="div re_search_restaurant_fields">
  			<%= text_field_tag :restaurant_query, params[:restaurant_query], :placeholder => "Search for your favorite restaurants or cuisines ", class: "txt_re_search_restaurants"%>
  			<%=submit_tag 'Find Food!', class: "btn_re_search_restaurants" %>
  		</div>
	<% end %>		
</div>
<h1>
	<!--Container for all of the restaurant results-->
	<div class="div_search_restaurants_results">
		<!--Restaurant search results-->
		<%@restaurant_search_results.each do |res|%>
			<%=link_to "restaurants/#{res.id}" , class: "search_restaurant_result" do %>
				<!--Header (Restaurant Name and Price-->
				<div class="div result_restaurant_header">
					<span class="res_name"><%=res.restaurant_name%></span>
					<span class="res_food_genre"><%=res.price%></span>
				</div>
				<!--Second Div (Restaurant Food Genre)-->
				<div class="div result_restaurant_info">
					<span class="res_food_type"><%=res.restaurant_food_genre%></span>
				</div>
			<%end%>
		<%end%>
	</div>
</h1>